doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Anton Nemtsev, @silentimp, skype: ravencry")
    link(rel="stylesheet", href="css/styles.css")
    script(src="js/requirejs/require.js", data-main="js/poll.js")
    title О проекте | СМС вопросник
  body
    section.page
      header

        menu
          .wrapper
            nav.languages
              a(href="#", hreflang="ua") Украинский
              a(href="#", hreflang="ru") Русский
              a(href="#", hreflang="en") Английский
              a(href="#", hreflang="de") Немецкий
              a(href="#", hreflang="fr") Французкий
              a(href="#", hreflang="es") Испанский
            nav.versions
              a(href="#") RSS
              a(href="#") PDA
              a(href="#") Facebook
              a(href="#") Twitter
              a(href="#") iPhone
        .slogan
          h2 Мнение народа украины
          p информационная инициатива
        nav.main
          a(href="#") Главная
          a.selected(href="#") О проекте
          a(href="#") Вопросы Украине?
          a(href="#") Ответы украинцев!
          a(href="#") Шаг №2
          a(href="#") Партнеры
          a(href="#") Контакты

      article
        .wrapper
          h2.title О проекте

        section
          .wrapper
            h3.sub-title Система народного контроля «МНЕНИЕ НАРОДА УКРАИНЫ»

            p «МНЕНИЕ НАРОДА УКРАИНЫ» - это постоянно действующая система народного контроля над властью и политиками, демонстрирующая истинный уровень их ответственности перед гражданами и избирателями.

            p «МНЕНИЕ НАРОДА УКРАИНЫ» дает возможность гражданам Украины активно выражать свою гражданскую позицию, непосредственно участвовать в реальной оценке власти и влиять на избираемых политиков и назначаемых чиновников.

            p «МНЕНИЕ НАРОДА УКРАИНЫ» позволяет народу Украины на основе проверенных фактов и реальных результатов формировать свое мнение относительно эффективности и ответственности конкретных представителей украинской власти и политикума, совершенствовать власть и страну.

        section
          .wrapper
            h3.sub-title Объекты наблюдения системы «МНЕНИЕ НАРОДА УКРАИНЫ»
            p Мы формируем доказанные рейтинги ответственности:
            ul
              li премьер-министра Украины;
              li членов Кабинета министров Украины;
              li государственных чиновников высокого ранга;
              li народных депутатов Украины;
              li политических партий и блоков;
              li общественно-политических деятелей Украины;
              li губернаторов;
              li депутатов областных советов;
              li мэров;
              li председателей районных администраций;
              li депутатов городских и районных советов.


        section
          .wrapper
            h3.sub-title Как работает «МНЕНИЕ НАРОДА УКРАИНЫ»?

            p В систему «МНЕНИЕ НАРОДА УКРАИНЫ» любой пользователь может внести информацию о факте обещанного и сделанного любого украинского политика и чиновника.

            p Для этого достаточно посредством интернет-интерфейса, электронного или почтового сообщения представить подтвержденный факт обещания того или иного политика и чиновника, а так же реальную информацию о степени исполнения обещанного.

            p В системе эта информация систематизируется, проверяется и анализируется. После проверки на достоверность, информация о сказанном и реально сделанном отобразится в системе и непосредственно повлияет на показатель рейтинга ответственности лица.

            p Исходя из анализа введенных данных, соотношения деклараций и реальных действий, «МНЕНИЕ НАРОДА УКРАИНЫ» формирует и постоянно обновляет рейтинг профессионализма, ответственности и эффективности политиков и чиновников всех уровней.

            p Каждый участник рейтингов Системы может прокомментировать каждое отдельное свое обещание и результаты его воплощения, а так же непосредственно общаться с гражданами, отвечая на их вопросы и обращаясь к ним со своих персональных страниц портала «Слово и дело».


        section
          .wrapper
            h3.sub-title Объективность рейтингов

            p Формируемые рейтинги абсолютно объективны. Благодаря программному и интеллектуальному ядру системы, алгоритму ее наполнения и проверки, «МНЕНИЕ НАРОДА УКРАИНЫ» строит рейтинги ответственности только на основе проверенной и подтвержденной информации и только на основе конкретных фактов.

            p В рейтингах нет эмоций, симпатий или пристрастий. Только подтвержденные слова, реальные дела, конкретные сроки и объективные факты по результатам.

            p Вся информация, предоставленная порталом «МНЕНИЕ НАРОДА УКРАИНЫ», так же бесспорна, как таблица умножения. Каждая цифра подтверждена конкретными документами, доступными для ознакомления в реальном времени.

            p Непроверенные, сомнительные и неподтвержденные документальным источником данные в Систему не вносятся и в формировании рейтингов не участвуют.


        section
          .wrapper
            h3.sub-title Финансирование проекта

            p Проект финансируется за счет благотворительных взносов представителей украинского бизнеса, которые хотят видеть в будущем эффективную власть, способную предложить обществу справедливые законы и правила.

            p Прозрачность власти, последовательность и прогнозируемость ее действий, на наш взгляд, - неотъемлемая составляющая конкурентоспособности государства и благосостояния его граждан.

      section.partners
        .wrapper
          h2.title Наши партнеры
          .partners-list
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-1.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-2.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-3.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-4.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-5.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-6.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-7.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-8.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-9.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-10.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-11.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-12.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-13.jpg", alt="Логотип партнера")
      footer
        .wrapper
          .slogan
            h2 Мнение народа украины
            p информационная инициатива
          nav
            a.vk(href="#") VKontact
            a.tw(href="#") Twitter
            a.fb(href="#") Facebook
          address
            p Тел: 
              a.tel(href="tel:+380507777777") 8 (050) 7777777
              | , 
              a.tel(href="tel:+380505555555") 8 (067) 5555555
              | .
            p E-mail: 
              a(href="mailto:my@mail.com") my@mail.com
        p.copy 2014 © Все права защищены.
