doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Anton Nemtsev, @silentimp, skype: ravencry")
    link(rel="stylesheet", href="css/styles.css")
    script(src="js/requirejs/require.js", data-main="js/poll.js")
    title Ответы украинцев | СМС вопросник
  body
    section.page
      header

        menu
          .wrapper
            nav.languages
              a(href="#", hreflang="ua") Украинский
              a(href="#", hreflang="ru") Русский
              a(href="#", hreflang="en") Английский
              a(href="#", hreflang="de") Немецкий
              a(href="#", hreflang="fr") Французкий
              a(href="#", hreflang="es") Испанский
            nav.versions
              a(href="#") RSS
              a(href="#") PDA
              a(href="#") Facebook
              a(href="#") Twitter
              a(href="#") iPhone
        .slogan
          h2 Мнение народа украины
          p информационная инициатива
        nav.main
          a(href="#") Главная
          a(href="#") О проекте
          a(href="#") Вопросы Украине?
          a.selected(href="#") Ответы украинцев!
          a(href="#") Шаг №2
          a(href="#") Партнеры
          a(href="#") Контакты

      section.answers
        .wrapper
          h2.title Ответы украинцев!
          article
            .graph
              .graph-container-wrapper
                ul.graph-container
                  li
                    span Да
                    div.bar-wrapper
                      div.bar-container
                        div.bar-inner(style="height:50%;") 25
                  li
                    span Нет
                    div.bar-wrapper
                      div.bar-container
                        div.bar-inner(style="height:35%;") 35
                  li
                    span Не готов ответить
                    div.bar-wrapper
                      div.bar-container
                        div.bar-inner(style="height:15%;") 15
                  li
                    ul.graph-marker-container
                      li(style='bottom:12.5%;')
                      li(style='bottom:25%;')
                        span 25%
                      li(style='bottom:37.5%;')
                      li(style='bottom:50%;')
                        span 50%
                      li(style='bottom:62.5%;')
                      li(style='bottom:75%;')
                        span 75%
                      li(style='bottom:87.5%;')
                      li(style='bottom:100%;')
                        span 100%
            .info
              .role 17 апреля 2014. Народный депутат Украины, кандидат в президенты Порошенко Петр Алексеевич задавал вопрос Украине:
              .question Уважаемые украинцы, считаете ли вы, что Украине крайне необходима новая конституция?
              p.voted Проголосовало: 
                  strong 224 045
                  |  украинца 
                  strong 5% 
                  |  от населения
              nav
                a.details(href="#") Детальная информация
                a.experts(href="#") Мнение экспертов

          article
            .graph
              .graph-container-wrapper
                ul.graph-container
                  li
                    span Да
                    div.bar-wrapper
                      div.bar-container
                        div.bar-inner(style="height:25%;") 25
                  li
                    span Нет
                    div.bar-wrapper
                      div.bar-container
                        div.bar-inner(style="height:50%;") 50
                  li
                    span Не готов ответить
                    div.bar-wrapper
                      div.bar-container
                        div.bar-inner(style="height:25%;") 25
                  li
                    ul.graph-marker-container
                      li(style='bottom:12.5%;')
                      li(style='bottom:25%;')
                        span 25%
                      li(style='bottom:37.5%;')
                      li(style='bottom:50%;')
                        span 50%
                      li(style='bottom:62.5%;')
                      li(style='bottom:75%;')
                        span 75%
                      li(style='bottom:87.5%;')
                      li(style='bottom:100%;')
                        span 100%
            .info
              .role 16 апреля 2014. Кандидат в президенты Тимошенко Юлия Владимировна задавала вопрос Украине:
              .question Уважаемые украинцы, как вы считаете, может ли Украина быть с двумя государственными языками?
              p.voted Проголосовало: 
                  strong 224 045
                  |  украинца 
                  strong 5% 
                  |  от населения
              nav
                a.details(href="#") Детальная информация
                a.experts(href="#") Мнение экспертов

          article
            .graph
              .graph-container-wrapper
                ul.graph-container
                  li
                    span Да
                    div.bar-wrapper
                      div.bar-container
                        div.bar-inner(style="height:80%;") 80
                  li
                    span Нет
                    div.bar-wrapper
                      div.bar-container
                        div.bar-inner(style="height:15%;") 15
                  li
                    span Не готов ответить
                    div.bar-wrapper
                      div.bar-container
                        div.bar-inner(style="height:5%;") 5
                  li
                    ul.graph-marker-container
                      li(style='bottom:12.5%;')
                      li(style='bottom:25%;')
                        span 25%
                      li(style='bottom:37.5%;')
                      li(style='bottom:50%;')
                        span 50%
                      li(style='bottom:62.5%;')
                      li(style='bottom:75%;')
                        span 75%
                      li(style='bottom:87.5%;')
                      li(style='bottom:100%;')
                        span 100%
            .info
              .role 15 апреля 2014. Народный депутат Украины Симоненко Петр Николаевич задавал вопрос Украине:
              .question Уважаемые украинцы, стоит ли запрещать в нашей стране коммунистическую партию?
              p.voted Проголосовало: 
                  strong 224 045
                  |  украинца 
                  strong 5% 
                  |  от населения
              nav
                a.details(href="#") Детальная информация
                a.experts(href="#") Мнение экспертов


      section.partners
        .wrapper
          h2.title Наши партнеры
          .partners-list
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-0.png", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-1.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-2.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-3.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-4.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-5.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-6.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-7.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-8.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-9.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-10.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-11.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-12.jpg", alt="Логотип партнера")
            a(href="#")
              img(src="images/partners/partner-13.jpg", alt="Логотип партнера")
      footer
        .wrapper
          .slogan
            h2 Мнение народа украины
            p информационная инициатива
          nav
            a.vk(href="#") VKontact
            a.tw(href="#") Twitter
            a.fb(href="#") Facebook
          address
            p Тел: 
              a.tel(href="tel:+380507777777") 8 (050) 7777777
              | , 
              a.tel(href="tel:+380505555555") 8 (067) 5555555
              | .
            p E-mail: 
              a(href="mailto:my@mail.com") my@mail.com
        p.copy 2014 © Все права защищены.
